<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a th:href="@{/manager/main}">Home</a>
            </li>
            <li>
                <a th:href="@{/manager/admin/pageview}" class="menu-entity">管理员管理</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce user_page">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    <div class="table-responsive _page_content">
                        <div class="mail-box-header">
                            <div class="mail-tools tooltip-demo m-t-md">
                                <button class="btn btn-success btn-sm" data-type="ajax" data-code="admin_entity" th:data-url="@{/manager/admin/one}" data-tmpjs="admin_entity"><i class="glyphicon glyphicon-plus"></i> </button>
                                <button class="btn btn-danger btn-sm" name="cct-del"><i class="glyphicon glyphicon-trash"></i> </button>
                                <div class="btn-group">
                                    <div method="get" action="index.html" class="pull-right mail-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" name="loginName" placeholder="登录名">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-primary" name="login_name-s">GO!</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mail-box">
                            <div class="mail-body">
                                <table class="table table-striped text-center _page" data-code="user_page" th:data-url="@{/manager/admin/page}" data-type="ajax" data-option="page"></table>
                                <div class="text-right">
                                    <div class="btn-group">
                                        <p class="help-block pull-left _page_total">共计<mark>0</mark>条,<code>0</code>页.当前<kbd>0</kbd>页&emsp; </p>
                                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        _app.ajaxDomParam.user_page = {table:{column: [{name:'登录名', key: 'login_name'}, {name:'用户名', key: 'user_name'}
        , {name:'配置时间', key: 'ctime', func: function(data){
                            return _dateFormat(data);
                        }}, {name:'登录时间', key: 'ltime', func: function(data){
                            return _dateFormat(data);
                        }}]}
            , template: {header: 'page-header', body: 'page-tbody-sm',bodyOption: 'page-tbody-option-sm-admin-page'}
            , countCondition: [{name:'loginName', type: 'input'}
                , { name:'cct-del', type: 'button', func: function (tableContent, data) {
                        let _checkeds = tableContent.find("table:first input[type='checkbox'][name='input[]']:checked");
                        if(_checkeds && _checkeds.length > 0){
                            let _keys = [];
                            _checkeds.each(function () {
                                _keys.push($(this).val());
                            });
                            _app.ajax({url: _app.getContentUrl("/manager/admin/del")
                                , dataType: 'json'
                                , param: {'keys[]': _keys}
                                , func: function (data) {
                                    _app.pageInitLoad('user_page')
                                }})
                        }

                    }
                }
                , {name: 'login_name-s', type: 'button', func: function (tableContent, data) {
                        _app.pageInitLoad('user_page')
                    }}
            ]
        };
        _app.ajaxDomParam.admin_entity = function(data){
            let _formEle = "div#wrapper div#page-wrapper div.side-content div.wrapper-content form.admin_form:first";
            let fields = {
                fieldsInsert: {
                    login_name: {
                        validators: {
                            notEmpty: {message: '登录名称必填'},
                            callback: {message: '登录名称重复'},
                            stringLength: {min: 6, max: 32, message: '登录名称6到32位'},
                        }
                    },
                    user_name: {
                        validators: {
                            notEmpty: {message: '用户昵称必填'},
                            stringLength: {min: 2, max: 32, message: '用户昵称必须2到32位'},
                        }
                    }
                    , password: {
                        validators: {
                            notEmpty: {message: '密码必填'},
                            stringLength: {min: 6, max: 32, message: '密码必须6到32位'},
                        }
                    }
                    , confirmPassword: {
                        validators: {
                            notEmpty: {message: '确认密码必填'},
                            stringLength: {min: 6, max: 32, message: '确认密码必须6到32位'},
                            identical: {field: 'password', message: '用户确认密码与密码不一致！'}
                        }
                    }
                }
                , fieldsUpdate: {
                    login_name: {
                        validators: {callback: {message: '登录名称重复'}}
                    }
                    , password: {
                        enabled: false,
                        validators: {
                            callback: {message: '密码必须大小写字母和数字,6到32位'}
                        }
                    }
                    , confirmPassword: {
                        enabled: false,
                        validators: {
                            identical: {field: 'password', message: '用户确认密码与密码不一致！'}
                            ,callback: {message: '用户确认密码与密码不一致'}
                        }
                    }
                }
                ,init: function () {
                    let isUpdate = $(_formEle).find('input[type="hidden"][name="id"]:first');
                    if(isUpdate && isUpdate.length > 0){
                        return this.fieldsUpdate;
                    }else{
                        return this.fieldsInsert;
                    }
                }
            }
            _app.doBootstrapValidator({formEle:_formEle
                   , fields: fields.init()
                ,func: function (data) {
                    if(data.error_code == 0){
                        _app.ajax({url:_app.getContentUrl('/manager/admin/pageview')});
                    }else{
                        switch (data.error_code) {
                            case 1002: this.formEle.data('bootstrapValidator').updateStatus('login_name', 'INVALID', "callback"); break;
                            case 1013: this.formEle.data('bootstrapValidator').updateStatus('confirmPassword', 'INVALID', "callback"); break;
                            case 1014: this.formEle.data('bootstrapValidator').updateStatus('password', 'INVALID', "callback"); break;
                        }
                    }
                }})
        }
    });

</script>

<script id="admin_entity" type="text/html">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h2>管理员信息</h2>
                    <form class="form-horizontal admin_form" th:action="@{/manager/admin/save}" method="post" autocomplete="off">
                        <div class="hr-line-dashed"></div>
                        {{if data.id != undefined}}
                            <input type="hidden" class="form-control" name="id" value="{{data.id}}">
                        {{/if}}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">登录名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" required="required" name="login_name" value="{{data.login_name}}" placeholder="请填写登录名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户昵称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" required="required" name="user_name" value="{{data.user_name}}" placeholder="请填写用户昵称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">新密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" required="required" name="password" placeholder="请填写新密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">确认密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" required="required" name="confirmPassword" placeholder="请填写确认密码">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary bg_submit_btn">确认</button>
                                <a th:href="@{/manager/admin/pageview}" class="btn btn-white menu-entity">返回</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</script>
</body>

</html>
