<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a th:href="@{/manager/main}">Home</a>
            </li>
            <li>
                <a th:href="@{/manager/opinion/info/history/pageview}" class="menu-entity">舆情历史告警</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce opinion_history_page _page_content">
    <div class="ibox-content m-b-sm">
        <div class="row">
            <div class="col-sm-12 text-right">
                <a href="javascript:void(0);" type="button" class="btn-sm btn-outline btn-warning" name="name-refresh"><i class="glyphicon glyphicon-repeat"></i></a>
                <a href="javascript:void(0);" type="button" class="btn-sm btn-outline btn-primary" name="name-s"><i class="glyphicon glyphicon-search"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="date_start">开始日期:</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="date_start" type="text" class="form-control" name="date_start" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="date_end">结束日期:</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="date_end" type="text" class="form-control" name="date_end" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="business_id">业务类型:</label>
                    <select class="form-control" name="business_id" id="business_id"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="calling_number">主叫号码:</label>
                    <input type="text" class="form-control" name="calling_number" id="calling_number" placeholder="被叫号码">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="calledNumber">被叫号码:</label>
                    <input type="text" class="form-control" name="called_number" id="calledNumber" placeholder="被叫号码">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="opinionin_type">舆情类型:</label>
                    <select class="form-control" name="opinionin_id" id="opinionin_type"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <div class="mail-box">
                            <div class="mail-body">
                                <table class="table table-striped text-center _page" data-code="opinion_history_page" th:data-url="@{/manager/opinion/info/history/page}" data-type="ajax" data-option="page"></table>
                                <div class="text-right">
                                    <div class="btn-group">
                                        <p class="help-block pull-left _page_total">共计<mark>0</mark>条,<code>0</code>页.当前<kbd>0</kbd>页&emsp; </p>
                                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        _app.ajaxDomParam.opinion_history_page = {table:{
                keys: 'none'
                , column: [{name:'主叫', key: 'calling_number', view: 'popover', func: function (data) {
                        if(data && data.length > 11){
                            return data.substring(0, 8) + "<code>..</code>";
                        }else{
                            return data;
                        }
                    }}, {name:'被叫', key: 'called_number', view: 'popover', func: function (data) {
                        if(data && data.length > 11){
                            return data.substring(0, 8) + "<code>..</code>";
                        }else{
                            return data;
                        }
                    }}
                    , {name: '坐席工号', key: 'agent_number'}
                    , {name:'业务类型', key: 'business_name', defaultKey: "全部", }
                    , {name: '舆情类型', key: 'opinion_word_type', view: 'popover', func: function (data) {
                            if(data && data.length > 15){
                                return data.substring(0, 12) + "<code>..</code>";
                            }else{
                                return data;
                            }
                        }}, {name: '舆情信息', key: 'opinion_content', view: 'popover', func: function (data) {
                            if(data && data.length > 15){
                                return data.substring(0, 12) + "<code>..</code>";
                            }else{
                                return data;
                            }
                        }}
                    , {name: '时间', key: 'talk_time'}]}
            , template: {header: 'page-header', body: 'page-tbody-sm', bodyOption: 'page-tbody-option-sm-talk-page'}
            , prevload: function () {
                let _this = this;
                let _bu_selet = _this.table.content.find("select[name='business_id']:first");
                _bu_selet.append("<option value='-1'>" + '请选择' + "</option>");
                _app.ajax({url: _app.getContentUrl('/manager/business/type/all'), param: {}, async : false, dataType: 'json'
                    , func: function (data) {
                        if(data.result && data.result.length > 0){
                            if(_bu_selet){
                                let _tmp;
                                for(let i = 0 ; i < data.result.length; i++){
                                    _tmp = data.result[i];
                                    _bu_selet.append("<option value='" + _tmp.id + "'>" + _tmp.name + "</option>");
                                }
                            }
                        }
                    }});
                let _o_selet = _this.table.content.find("select[name='opinionin_id']:first");
                _o_selet.append("<option value='-1'>" + '请选择' + "</option>");
                _app.ajax({url: _app.getContentUrl('/manager/opinion/all'), param: {}, async : false, dataType: 'json'
                    , func: function (data) {
                        if(data.result && data.result.length > 0){
                            if(_o_selet){
                                let _tmp;
                                for(let i = 0 ; i < data.result.length; i++){
                                    _tmp = data.result[i];
                                    _o_selet.append("<option value='" + _tmp.id + "'>" + _tmp.opinion_word_type + "</option>");
                                }
                            }
                        }
                    }});
            }
            , ajax:{func: function (dom) {
                    let content = _app.content.find("div.opinion_history_page:first a.right-sidebar-option-view");
                    if(content){
                        content.click(function(){
                            let ele = $('div#right-sidebar:first');
                            if(!ele.hasClass('sidebar-open')){
                                $('div#right-sidebar:first').addClass('sidebar-open');
                            }
                        })
                    }
                    _app.doPopoverList(dom);
                }}
            , countCondition: [
                  {name: 'date_end', type: 'input', onEvt: 'datepicker', key: 'endTime'}
                , {name: 'date_start', type: 'input', onEvt: 'datepicker', key: 'startTime'}
                , {name: 'business_id', type: 'select', onEvt: 'change'}
                , {name: 'calling_number', type: 'input', onEvt: 'change'}
                , {name: 'called_number', type: 'input', onEvt: 'change'}
                , {name: 'opinionin_id', type: 'select', onEvt: 'change'}
                , {name: 'name-refresh', type: 'a', onEvt: 'click', func: function(tableContent, data, ele, countCondition){
                        tableContent.find("input[name='date_end']:first").val("");
                        tableContent.find("input[name='date_start']:first").val("");
                        tableContent.find("select[name='business_id']:first").find("option:first").prop("selected", "selected");
                        tableContent.find("input[name='calling_number']:first").val("");
                        tableContent.find("input[name='called_number']:first").val("");
                        tableContent.find("select[name='opinionin_id']:first").find("option:first").prop("selected", "selected");
                        delete data.param.startTime;
                        delete data.param.endTime;
                        delete data.param.business_id;
                        delete data.param.calling_number;
                        delete data.param.called_number;
                        delete data.param.opinionin_id;
                        _app.initDatepicker(countCondition);
                    }}
                , {name: 'name-s', type: 'a', onEvt: 'click', func: function (tableContent, data, ele) {
                        if(data.param){
                            if(data.param.startTime && data.param.endTime && data.param.startTime > data.param.endTime){
                                alert('开始时间不能小于结束时间');
                                return ;
                            }
                        }
                        _app.addPageParam("opinion_history_page", {pageNumber: 1, _fi: -666});
                        _app.pageReLoad('opinion_history_page');
                    }}
            ]
        };
    });

</script>
</body>

</html>
